@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,200;1,600&display=swap');
.content.body{
    font-size: 17px;
    line-height: 26px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(abstractimg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}